{% asset "rating/rating-css" %}

{% ckan_extends %}

{% set truncate_title = truncate_title or 80 %}
{% block heading_title %}

    {{ h.link_to((title | truncate(80)), h.url_for('dataset.read', id=package.name)) }}
    {% set rating = h.package_rating(None, {'package_id' : package.id} ).rating|float %}
    {% if rating != 0 %}
        <div class="dataset-rating">
          <span>{{rating|round(1)}}</span>
          <i class="user-rating-star fa-solid fa-star fa-fw rating-star"></i>
        </div>
    {% endif%}
{% endblock %}
